.btnCreate {
  background-color: #7669e4;
  border-color: #7669E4;
  color: #fff;
}

.btnCreate:hover {
  border-color: #15133C ;
  background-color: #15133C ;
}

.listpengajuan-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
